@page "/"

@using static Core.Helpers.ElevationHelpers
@using static Core.Helpers.MoistureHelpers
@using static Core.Helpers.TemperatureHelpers
@using static Core.Helpers.RiversHelpers
@using static Core.Helpers.TerrainHelpers
@using static Core.Helpers.SettlementHelpers

@using Client.Components.Shared
@using Core.Models
@using Core.Services

@if (_world != null)
{
    <BbInputGroup Class="fixed top-4 left-4 z-50 max-w-md">
        <BbInputGroupAddon Align="InputGroupAlign.InlineStart">
            <LucideIcon Name="search" Size="16" />
        </BbInputGroupAddon>
        <BbInputGroupInput Placeholder="Insert a custom seed" ValueChanged="OnSeedChanged" />
    </BbInputGroup>

    <TerrainCanvas World="_world" ChunkSize="@CHUNK_SIZE" />
}
else
{
    <div class="fixed inset-0 flex items-center justify-center select-none">
        <BbSpinner Size="SpinnerSize.Large" />
    </div>
}

@code
{
    private const int CHUNK_SIZE = 128;

    private TerrainWorld? _world;

    protected override void OnInitialized()
    {
        GenerateWorld();
    }

    private void OnSeedChanged(string value)
    {
        if (string.IsNullOrWhiteSpace(value) || !int.TryParse(value, out var seed))
            return;

        GenerateWorld(seed);
    }

    private void GenerateWorld(int seed = 0)
    {
        _world = new TerrainBuilder(CHUNK_SIZE, seed)
            .WithSettings(settings => settings with { Shape = TerrainShape.Continent })
            .WithTransformer(AddElevation)
            .WithTransformer(AddMoisture)
            .WithTransformer(AddTemperature)
            .WithTransformer(GenerateRivers)
            .WithTransformer(RecalculateMoisture)
            .WithTransformer(ClassifyTerrain)
            .WithTransformer(AddSettlements)
            .Build();
    }
}